.saved-message > i {
	font-size: 22px;
}

.saved-message > span {
	vertical-align: top;
}

.table-header {
	padding: 5px !important;
	background-color: rgba(0,0,0,.075);
	border: 1px solid #ddd;
	color: #000;
  vertical-align: middle;
  text-align: center !important;
  cursor: pointer;
}

::ng-deep .table-hover tbody tr {
  cursor: pointer;
}

::ng-deep .mat-checkbox-inner-container {
	margin-left: 0 !important;
}

::ng-deep .mat-checkbox-layout {
	margin-bottom: 0 !important;
}

::ng-deep tr.checked > td {
	background-color: rgba(0, 0, 0, .075);
}

::ng-deep td {
	padding: 0.5rem;
	border: 1px solid #ddd;
	text-align: center !important;
	font-size: 14px;
}

::ng-deep .row-actions > a {
	text-decoration: none;
}

::ng-deep .row-actions i, ::ng-deep .row-icon {
	margin-left: 4px;
	cursor: pointer;
	font-size: 22px;
	vertical-align: middle;
}

::ng-deep .row-right {
	text-align: right!important;
}

::ng-deep .row-actions > img {
	height: 25px;
	width: 25px;
	cursor: pointer;
}

input:-webkit-autofill {
	-webkit-text-fill-color: #000;
}
